body {
    margin:0%;
    padding: 0%;
  background-color:#fff;
  font-family: 'Tilt Neon';
}
/*For the main nav bar*/
.Density {
    background-color:rgb(53 35 3);
    overflow:hidden;
    width: 100%;
    
}
.Density ul {
    list-style-type: none;
    padding:0px;
    margin:0px;
    display: flex;
    justify-content:space-between;
    padding-left: 35%;
    align-items:center;
}
.Density li {
    float:left;
}
.Density li a {
    display:block;
    color:#f3f5d3;
    text-align:center;
    padding: 35px 35px;
    text-decoration: none;
    border-color: darkcyan;
    font-size:20px;
    margin:0px;
}
/*For the first header*/
.Omega {
    position:absolute;
    top:20%;
    left:60%;
    text-align: center;
    font-size: xx-large;
}
.Target {
    bottom: auto;
}
.Drosophila {
    position: absolute;
    top:40%;
    left:60%;
    font-size: x-large;
    color: blue;
}
.Pratish {
    background-color:#4CAF;
    color:white;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    padding: 18px 18px;
    position: absolute;
    top:55%;
    left:65%;
    font-size: x-large;
    font-family:'Tilt Neon' ;
    cursor:pointer;
}
.Cow {
    border-radius: 51%;
    border:4px solid black;
    width:440px;
    height: 460px;
    margin: 60px;
    top:30%;
}
/*For the whole div in contact page*/
.Auricle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    width: 400px;
    margin: 45px auto;

}
/*form on the contact page*/
.contact {
    background-color:rgba(0,0,0,0.5);
    width:100%;
    height: 600px;
    font-size: 19px;
    border-radius:25px;
    text-align:center;
    box-shadow:2px 2px 15px;
    color:#c21313;
    margin: auto;
}
/*For button on the contact page*/
.Divash {
background-color: aquamarine;
display: inline-block;
border-radius: 8px;
padding: 18px 18px;
position: absolute;
font-size: x-large;
font-family:'Tilt Neon' ;
cursor:pointer;
left: 46%;
bottom:10%;
      
}
.grid-container-darwin {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.grid-column-triton {
    flex-basis: 47%;

}
.horse {
    max-width: 100%;
    height:auto
}
.container-Honda {
    width:900px;
    margin:0,auto;

}
.column-Police {
    width:250px;
    float:left;
    margin:85px;
    background-color:blueviolet;
    padding: 25px;
    text-align: center;
    border-radius: 5px;
}
.column-Army {
    width:250px;
    float:left;
    margin:90px;
    background-color:greenyellow;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}
.column-security {
    width:220px;
    float:left;
    margin:85px;
    background-color:aqua;
    padding:60px;
    text-align: center;
    border-radius: 5px;;

}